    h1{
        display: flexbox;
; text-align: center;   
color: white; 
background-image: url(temp.jpg); 
   margin-top: 25px;}
.start{
    display: flexbox;
    ; text-align: center;   

font-family: 'Courier New', Courier, monospace;
}
.links{
    font-family: 'Courier New', Courier, monospace;
    color: wheat;

}
.grid{
     justify-content: space-evenly;
    display: flexbox;
   font-size: 15px;
   border: 20px;
}

